@import '../../../../assets/stylesheets/main.scss';

.news-section-tiles {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.news-section-tile_content{
  text-transform: capitalize;
  color: white;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  padding: 1.25em;

  background-color: rgba(0, 0, 0, 0.75);
}

.news-section-tile:nth-child(3n+1):last-child {
  width: 100%;
}
.news-section-tile:nth-child(3n+2):last-child {
  width: 66.667%;
}

.news-section-tile {
  overflow: hidden;
  background-size: cover;
  list-style: none;
  overflow: hidden;
  position: relative;
  float: left;
  width: 33.333%;
  color: white;

  &:before { display: none }

  a {
    display: block;
    position: relative;
    background-blend-mode: normal;
    overflow: hidden;
    display: block;
    height: 20em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    &:hover {
     background-blend-mode: multiply;
    }
  }
}

.news-section-tile_content_summary {
  margin-top: 0;
}

.news-section-tile_content_title {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .news-section-tile {
    width: 100%;
  }
  .news-section-tile:last-child {
    width: 100% !important;
  }
}
