@import '../../../../assets/stylesheets/main.scss';

.news-section-tiles {
  margin: 0;
  padding: 0;

  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.news-section-tile {
  list-style: none;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  float: left;
  width: 33.333%;

  &:before { display: none }

  a {
    display: block;
    height: 24em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
}

