---
width: calc(100vw - 2em);
height: calc(100vh - 2em);
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%=baseUrl%>/assets/stylesheets/main.css">
  <link rel="stylesheet" href="<%=baseUrl%>/assets/stylesheets/themes.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
  <title>{{title}}</title>
</head>

<body>

  <div class="hero {{{theme}}}-background">
    <div class="container">
      <div class="logo-rh"></div>
        <h1>{{ hero-heading }}</h1>
    </div>
  </div>

  <div class="section">
    <div class="container">
      repeating section
    </div>
  </div>
  
  <div id="form-section">
   <div class="container">
     
      <% include ../../assets/partials/generic-gated-form.html %>     
   
   </div>
    
  </div>

  <div class="footer">
    <div class="left">
      yolo

    </div>
    <div class="right">
      yolo
    </div>
  </div>
</body>

</html>