---
width: calc(100vw - 2em);
height: calc(100vh - 2em);
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%=baseUrl%>/assets/stylesheets/main.css">
<!--  <link rel="stylesheet" href="<%=baseUrl%>/assets/stylesheets/themes.css">-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
  <script src="<%=baseUrl%>/assets/javascripts/main.js" type="text/javascript"></script>
  <title>{{title}}</title>

  <% include ../../assets/stylesheets/themes.html %>     

</head>

<body class="ad-hoc">

<div class="hero-wrapper {{{theme}}}-background">
    <div class="hero {{{theme}}}-hero-{{{position}}} background-darken}}}">
      <div class="container">
        <div class="logo-rh"></div>
        <h1>{{ hero-heading }}</h1>
        <a href="#form" class="button" id="call-to-action">{{call-to-action}}</a>
      </div>
    </div>
  </div>

  <div class="section {{theme}}-links">
    <div class="container">
    
    {{# mirror-email-content}}
      
     {{#body-section}}
      {{# show-images }}

      <div class="grid-container">
        <div class="two-of-three">
          <h1>{{subheading}}</h1>
          <p>{{{body-copy}}}</p>
        </div>
        <div class="one-of-three">
          <img src="{{{featured-image}}}" />
        </div>
      </div>
            {{/ show-images }}

      {{^ show-images }}
      <div class="grid-container">
        <div class="three-of-three">
          <h1>{{subheading}}</h1>
          <p>{{{body-copy}}}</p>
        </div>
      </div>
      {{/ show-images }}
      
      {{/body-section}}
      
      {{/ mirror-email-content}}
      
      {{^mirror-email-content}}
      
      {{#landing-page-section}}
      
      {{# show-images }}

      <div class="grid-container">
        <div class="two-of-three">
          <h1>{{subheading}}</h1>
          <p>{{{body-copy}}}</p>
        </div>
        <div class="one-of-three">
          <img src="{{{featured-image}}}" />
        </div>
      </div>
            {{/ show-images }}

      {{^ show-images }}
      <div class="grid-container">
        <div class="three-of-three">
          <h1>{{subheading}}</h1>
          <p>{{{body-copy}}}</p>
        </div>
      </div>
      {{/ show-images }}
      
      
      {{/landing-page-section}}
      
      {{/mirror-email-content}}
    </div>
  </div>
  
  {{#form-config}}
  <div id="form-section">
   <div class="container">
     
       <% include ../../assets/partials/generic-gated-form.html %>

   </div>
    
  </div>
    {{/form-config}}

  <div class="footer">
    <div class="container">
      <div class="grid-container">
        <div class="one-of-two">
          {{{footer}}}
        </div>
        <div class="social one-of-two">
          <a href="http://www.facebook.com/redhatinc"><img alt="facebook" src="<%=baseUrl%>/assets/images/icons/facebook.png"></a>
          <a href="http://plus.google.com/+RedHat"><img alt="google-plus" src="<%=baseUrl%>/assets/images/icons/google.png"></a>
          <a href="http://linkedin.com/company/red-hat"><img alt="linkedin" src="<%=baseUrl%>/assets/images/icons/linkedin.png"></a>
          <a href="http://twitter.com/redhatnews"><img alt="twitter" src="<%=baseUrl%>/assets/images/icons/twitter.png"></a>
          <a href="http://youtube.com/redhat"><img alt="youtube" src="<%=baseUrl%>/assets/images/icons/youtube.png"></a>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>
