.nav-tabs {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  @extend .clearfix;

  > li {
    position: relative;
    padding: 0;
    margin: 0;

    &:before { display: none; }

    > a {
      position: relative;
      display: block;
      padding: ($line-height * 0.75) $line-height;
      color:  $color-rh-red;
      background-color: whitesmoke;
      border-bottom: 0.25em solid $color-rh-red;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: white;
      }
    }

    &.active > a {
      background-color: $color-rh-red;
      color: white;
    }

    &.disabled > a {
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: whitesmoke;
      }
    }
  }

  &.nav-justified {
    @extend .nav-justified;
  }
}

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
    }
  }

  @media (min-width: 480px) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

