.background-darken, .custom-hero-image, .stripe, .stripe2, .pattern {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
}

.custom-hero-image, .background-darken, .stripe2 { mix-blend-mode: multiply;}

.pattern {z-index:50;}

.hero-right {
  background-size: 48em 48em, 48em 48em, cover;
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
}

.hero-middle {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

// red

// corporate

.corporate, .corporate-links a {color: #cc0000 !important;}
.corporate-background { background-color: #A30000;}
.corporate-hero-middle-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/red/grid-08-04.svg); }
.corporate-hero-middle-stripe2, .corporate-hero-right-stripe2 { display: none; }
.corporate-hero-middle-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/corporate/red/positioned-08-04-alt-50.svg); }
.corporate-hero-right-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/red/grid-12-12.svg); }
.corporate-hero-right-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/corporate/red/positioned-12-12-50.svg); }

// grey

// services

.services, .services-links a {color: #5E6A71 !important;}
.services-background { background-color: #5E6A71;}
.services-hero-middle-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/grey/grid-08-04.svg); }
.services-hero-middle-stripe2, .services-hero-right-stripe2 { display: none; }
.services-hero-middle-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/services/grey/positioned-08-04-alt-50.svg); }
.services-hero-right-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/grey/grid-12-12.svg); }
.services-hero-right-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/services/grey/positioned-12-12-50.svg); }

// yellow

// storage-and-big-data

.storage-and-big-data, .storage-and-big-data-links a {color: #ed7700 !important;}
.storage-and-big-data-background { background-color: #ed7700;}
.storage-and-big-data-hero-middle-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/yellow/grid-06-06.svg); }
.storage-and-big-data-hero-middle-stripe2 { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/yellow/grid-08-04.svg);}
.storage-and-big-data-hero-middle-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/storage/yellow/positioned-08-04-alt-50.svg); }
.storage-and-big-data-hero-right-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/yellow/grid-12-12.svg); }
.storage-and-big-data-hero-right-stripe2 { display: none; }
.storage-and-big-data-hero-right-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/storage/yellow/positioned-12-12-50.svg); }

// blue

// traditional-infrastructures

.traditional-infrastructures, .traditional-infrastructures-links a {color: #0088CE !important;}
.traditional-infrastructures-background { background-color: #0088CE;}
.traditional-infrastructures-hero-middle-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/blue/grid-06-06.svg); }
.traditional-infrastructures-hero-middle-stripe2 { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/blue/grid-08-04.svg);}
.traditional-infrastructures-hero-middle-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/infrastructure/blue/positioned-08-04-alt-50.svg); }
.traditional-infrastructures-hero-right-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/blue/grid-12-12.svg); }
.traditional-infrastructures-hero-right-stripe2 { display: none; }
.traditional-infrastructures-hero-right-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/infrastructure/blue/positioned-12-12-50.svg); }

// cloud-infrastructures

.cloud-infrastructures, .cloud-infrastructures-links a {color: #0088CE !important;}
.cloud-infrastructures-background { background-color: #0088CE;}
.cloud-infrastructures-hero-middle-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/blue/grid-06-06.svg); }
.cloud-infrastructures-hero-middle-stripe2 { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/blue/grid-08-04.svg);}
.cloud-infrastructures-hero-middle-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/cloud-infrastructure/blue/positioned-08-04-alt-50.svg); }
.cloud-infrastructures-hero-right-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/blue/grid-12-12.svg); }
.cloud-infrastructures-hero-right-stripe2 { display: none; }
.cloud-infrastructures-hero-right-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/cloud-infrastructure/blue/positioned-12-12-50.svg); }

// infrastructure-management

.infrastructure-management, .infrastructure-management-links a {color: #0088CE !important;}
.infrastructure-management-background { background-color: #0088CE;}
.infrastructure-management-hero-middle-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/blue/grid-06-06.svg); }
.infrastructure-management-hero-middle-stripe2 { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/blue/grid-08-04.svg);}
.infrastructure-management-hero-middle-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/management/blue/positioned-08-04-alt-50.svg); }
.infrastructure-management-hero-right-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/blue/grid-12-12.svg); }
.infrastructure-management-hero-right-stripe2 { display: none; }
.infrastructure-management-hero-right-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/cloud-infrastructure/blue/positioned-12-12-50.svg); }

// green

// traditional-app-development

.traditional-app-development, .traditional-app-development-links a {color: #3F9C35 !important;}
.traditional-app-development-background { background-color: #3F9C35;}
.traditional-app-development-hero-middle-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/green-mid/grid-06-06.svg); }
.traditional-app-development-hero-middle-stripe2 { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/green-mid/grid-08-04.svg);}
.traditional-app-development-hero-middle-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/app-dev/green-mid/positioned-08-04-alt-50.svg); }
.traditional-app-development-hero-right-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/green-mid/grid-12-12.svg); }
.traditional-app-development-hero-right-stripe2 { display: none; }
.traditional-app-development-hero-right-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/app-dev/green-mid/positioned-12-12-50.svg); }

// business-process-integration

.business-process-integration, .business-process-integration-links a {color: #3F9C35 !important;}
.business-process-integration-background { background-color: #3F9C35;}
.business-process-integration-hero-middle-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/green-mid/grid-06-06.svg); }
.business-process-integration-hero-middle-stripe2 { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/green-mid/grid-08-04.svg);}
.business-process-integration-hero-middle-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/business-process/green-mid/positioned-08-04-alt-50.svg); }
.business-process-integration-hero-right-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/green-mid/grid-12-12.svg); }
.business-process-integration-hero-right-stripe2 { display: none; }
.business-process-integration-hero-right-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/cloud-infrastructure/green-mid/positioned-12-12-50.svg); }

// cloud-app-development

.cloud-app-development, .cloud-app-development-links a {color: #3F9C35 !important;}
.cloud-app-development-background { background-color: #3F9C35;}
.cloud-app-development-hero-middle-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/green-mid/grid-06-06.svg); }
.cloud-app-development-hero-middle-stripe2 { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/green-mid/grid-08-04.svg);}
.cloud-app-development-hero-middle-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/cloud-dev/green-mid/positioned-08-04-alt-50.svg); }
.cloud-app-development-hero-right-stripe { background-image:url(http://redhatbrand.github.io/RedHatTemplates/global-assets/images/shapes/green-mid/grid-12-12.svg); }
.cloud-app-development-hero-right-stripe2 { display: none; }
.cloud-app-development-hero-right-pattern { background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/cloud-infrastructure/green-mid/positioned-12-12-50.svg); }
